{% extends 'base.html.twig' %}

{% block nav %}
<nav>
    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto" src="{{asset('images/favicon.svg')}}" alt="Budgeteer">
            <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    <a href="{{path('app_home_home')}}" class="rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
                    <a href="{{path('app_budget_dashboard')}}" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}
    <h1>Budget Dashboard</h1>
    <h2 id='budget-value'>Current amount: {{budget.currentValue / 100}} €</h2>
    <p><span style="color: red"><i class="fa-solid fa-arrow-trend-down"></i> Total Spendings: {{totalSpendings}}€</span> | <span style="color: green"><i class="fa-solid fa-arrow-trend-up"></i> Total Gains: {{totalGains}}€</span></p>
    <div id="add-transaction">
        <button hx-swap="outerHTML" hx-get="{{ url('app_transaction_new') }}">Add Transaction</button>
    </div>
    <div id="budget-transactions">
        {% if budget.transactions|length > 0 %}
        <h3>Transactions:</h3>
        <ul>
        {% for transaction in budget.transactions|sort((a, b) => a.date <=> b.date) %}
            {% if not transaction.deleted %}{% include('transaction/transaction.html.twig') %}{% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
