{{ form_start(form, {'attr': {
    'hx-patch': path('app_transaction_edit', {'id': transaction.id}),
    'hx-target': '#transaction-'~transaction.id,
}}) }}
{# {{form(form)}} #}
{# {{ form_row(form) }} #}
<div>
    {{ form_label(form.title) }}<br>
    {{ form_widget(form.title, {'attr': {'class': 'bg-ctp-base border rounded border-ctp-sapphire'}}) }}
</div>
<div>
    {{ form_label(form.value) }}
    {{ form_widget(form.value, {'attr': {'class': 'bg-ctp-base border rounded border-ctp-sapphire'}}) }}
</div>
<div>
    {{ form_label(form.date) }}
    {{ form_widget(form.date, {'attr': {'class': 'bg-ctp-base border rounded border-ctp-sapphire'}}) }}
</div>
<div>
    {{ form_label(form.reimbursement) }}
    {{ form_widget(form.reimbursement, {'attr': {'class': 'bg-ctp-base border rounded border-ctp-sapphire'}}) }}
</div>
{{form_end(form)}}
